@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;1000&display=swap');

:root {
  --main-color: #2a2a2a;
  /*#fc92f7 #1F85DE #9c1fde #2a2a2a #e52323*/

  --bg-color: #d9d9d98a;
}

html, body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

#app {
  max-width: 100%;
  margin: 3rem;
  padding: 0.5rem;

  font-family: 'Nunito', sans-serif;

  color: var(--main-color);
  transition: color 0.3s ease-out;
}

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
}

a {
  color: var(--main-color) !important;
  text-decoration: none;
}

.button {
  background-color: var(--main-color) !important;
}

.line {
  border-color: var(--main-color);
}

.ionicon {
  fill: var(--main-color);
}

.blur-layer {
  background-color: var(--bg-color);
  transition: background-color 0.9s ease-out;
}

@media only screen and (max-width: 600px) {
  #app {
    margin: 1rem;
  }
}

@media (min-width: 1024px) {
    .lg\:-bottom-96 {
        bottom: -34rem/* -384px */;
    }
}

/* animejs */

.ml6 {
  position: relative;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
}